*{
    padding: 0;
    border: 0;
    margin: 0;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}
.nav_wrap{
    width: 100%;
    height: 100px;
    background-color: rgba(0,0,0,.4);
    position: absolute;
    top: 0;
    left: 0;
}
.nav_content{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    /* border: 1px solid blue; */
    position: relative;
}
.nav_content::after{
    content: "";
    display: block;
    clear: both;
}
.logo{
    width: 70px;
    height: 70px;
    margin : 15px 50px 35px 0;
    float: left;
    /* border: 1px solid red; */
}
.logo:hover{
	cursor: pointer;
}
.left_select li{
    list-style: none;
    float: left;
    margin: 35px 65px 60px 0;
    font-size: 23px;
    font-family: 'Josefin Sans', sans-serif;
    /* border: 1px solid green; */
    color: white;
    
}
.left_select li:hover{
	color:#ed4848;
	cursor: pointer;
}
.rigth_select{
    /* border: 1px solid yellow; */
    float: right;
    margin: 25px 0 53px 0;
}

#btn_login{
    border: 3px solid white;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    outline: 0;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    margin-right: 20px;
    background-color: rgba(0,0, 0, 0);
    color: white;
    cursor: pointer;
}
#btn_join{
    border: 3px solid white;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    outline: 0;
    font-size: 18px;
    background-color: rgba(0,0, 0, 0);
    color: white;
    cursor:pointer;
}
#btn_login:hover{
	background-color: white;
	color:#ed4848;
}
#btn_join:hover{
	background-color: white;
	color:#ed4848;
	
}

.main_title{
    /* border: 1px solid blue; */
    width: 1200px;
    margin: 0 auto;
    margin-top: 250px;
    margin-bottom: 130px;
}
.main_title h1{
    font-size: 60px;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    line-height: 1.25;
}
.main_title p{
    font-size: 16px;
    color: white;
    line-height: 1.25;
    font-weight: 100;
}
.main_skil1{
    /* border: 1px solid green; */
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 80px;
    padding-left: 50px;
}
.main_skil1::after{
	content:"";
	display:block;
	clear:both;
}
.select_1{
    /* border: 1px solid orange; */
    float: left;
}
.select_1_1{
	float:left;
}
.select_1_1 h2{
    font-size: 20px;
    color: white;
    font-weight: 300;
    margin-bottom: 15px;
}
.select_1 h2{
    font-size: 20px;
    color: white;
    font-weight: 300;
    margin-bottom: 15px;
}
#select_nation{
    outline: 0;
    color: #3b3b3b;
    
    width: 250px;
    height: 55px;
    margin-right: 5%;
    padding-left: 1%;
    font-size: 1em;
    background: url(/NMT/images/mainfunction/optionBG.jpg) no-repeat;
    background-size: 100% 98%;
    cursor: pointer;
    -webkit-appearance: none;
    left: 6%;
    border: 0px;
}
#select_city{
    outline: 0;
    color: #3b3b3b;
   margin-left:50px;
    width: 250px;
    height: 55px;
    margin-right: 5%;
    padding-left: 1%;
    font-size: 1em;
    background: url(/NMT/images/mainfunction/optionBG.jpg) no-repeat;
    background-size: 100% 98%;
    cursor: pointer;
    -webkit-appearance: none;
    left: 6%;
    border: 0px;
    }

.select_2 h2{
    font-size: 20px;
    color: white;
    font-weight: 300;
    margin-bottom: 15px;
}
#select_days{
   outline: 0;
    color: #3b3b3b;
   margin-left:50px;
    width: 250px;
    height: 55px;
    margin-right: 5%;
    padding-left: 1%;
    font-size: 1em;
    background: url(/NMT/images/mainfunction/optionBG.jpg) no-repeat;
    background-size: 100% 98%;
    cursor: pointer;
    -webkit-appearance: none;
    left: 6%;
    border: 0px;
}
.main_skil2{
    /* border: 1px solid red; */
    width: 1200px;
    margin: 0 auto;
    height: 160px;
    background-color: rgba(255,255,255,.6);
}
.btn_wrap{
    /* border: 1px solid yellow; */
    padding-left: 30px;
}
.btn_wrap::after{
    content: "";
    display: block;
    clear: both;
}
.btn_wrap input{
    float: left;
    width: 180px;
    height: 38px;
    border-radius: 10px;
    font-size: 16px;
    background-color: #ed4848;
    color: white;
    margin-top: -20px;
    margin-right: 30px;
    outline : none;
}
.btn_wrap input:hover{
	cursor: pointer;
}
.price_wrap{
    /* border: 1px solid purple; */
    margin-top: 22px;
}
#price{
    width: 715px;
    height: 85px;
    background-color: white;
    font-size: 16px;
    border-radius: 40px;
    padding-left: 50px;
    margin-left: 30px;
    outline : none;
}
#btn_letgo{
    width: 320px;
    height: 85px;
    background-color: #ed4848;
    border-radius: 40px;
    font-size: 20px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    margin-left: 30px;
    cursor: pointer;
    outline : none;
}
.sub_title{
    /* border: 1px solid blue; */
    width: 1200px;
    margin: 0 auto;
    margin-top: 80px;
}
.sub_title h2{
    font-size: 25px;
    color: #3b3b3b;
    text-align: center;
}
.sub_title p{
    font-size: 16px;
    color: #3b3b3b;
    text-align: center;
    margin-top: 15px;
    line-height: 1.5;
    font-weight: lighter;
}
.recomand_list{
    /* border: 1px solid red; */
    width: 1200px;
    margin: 0 auto;
    margin-top: 80px;
}
.recomand_list::after{
    content: "";
    display: block;
    clear: both;
}
.re_col1{
    width: 380px;
    height: 470px;
    border: 1px solid #3b3b3b;
    float: left;
    margin-right: 26px;
    position: relative;
}
.re_col2{
    width: 380px;
    height: 470px;
    border: 1px solid #3b3b3b;
    float: left;
    margin-right: 26px;
    position: relative;
}
.re_col3{
    width: 380px;
    height: 470px;
    border: 1px solid #3b3b3b;
    float: left;
    position: relative;
}
#heart{
    color: white;
    position: absolute;
    top: 15px;
    left: 15px;
    /* border: 1px solid red; */
    font-size: 30px;
}
.title_star1::after{
    content: "";
    display: block;
    clear: both;
}
.title_star2::after{
    content: "";
    display: block;
    clear: both;
}
.title_star3::after{
    content: "";
    display: block;
    clear: both;
}
.title_star1 h3{
    padding: 20px 145px 30px 20px;
    font-size: 20px;
    color: #3b3b3b;
    float: left;
}
.title_star2 h3{
    padding: 20px 190px 30px 20px;
    font-size: 20px;
    color: #3b3b3b;
    float: left;
}
.title_star3 h3{
    padding: 20px 170px 30px 20px;
    font-size: 20px;
    color: #3b3b3b;
    float: left;
}
.recomand_list p{
    padding: 0 20px 0 20px;
    font-size: 16px;
    line-height: 1.5;
    color: #3b3b3b;
    width: 340px;
    height: 200px;
}
.star_wrap1{
    /* border: 1px solid red; */
    float: left;
}
.star_wrap1 i{
    color:#ffc000;
    padding-top: 20px;
}
.star_wrap2{
    float: left;
}
.star_wrap2 i{
    color:#ffc000;
    padding-top: 20px;
}
.star_wrap3{
    float: left;
}
.star_wrap3 i{
    color:#ffc000;
    padding-top: 20px;
}
.red_bg{
    width: 100%;
    height: 510px;
    background-color: #ed4848;
    margin-top: 80px;
    /* border: 1px solid yellow; */
    margin-bottom: 400px;
}
.red_bg::after{
    content: "";
    display: block;
    clear: both;
}
.trd_title{
    /* border: 1px solid green; */
    width: 1200px;
    margin: 0 auto;
}
.trd_title h2{
    font-size: 25px;
    color: white;
    text-align: center;
    margin-bottom: 15px;
    padding-top: 80px;
}
.trd_title p{
    font-size: 16px;
    color: white;
    text-align: center;
    font-weight: lighter;
}
.hotel_wrap{
    width: 1200px;
    margin: 0 auto;
    /* border: 1px solid blue; */
}
.hotel_wrap::after{
    content: "";
    display: block;
    clear: both;
}
.img_album{
    background: #000;
    width: 770px;
    height: 460px;
    position: relative;
    float: left;
    margin-top : 70px;
}
.mySlides {
    display: none;
}
.img_big{
    position: absolute;
    width: 100%;
    height: 100%;
}
.img_big img{
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
}
.img_album_nav i{
    font-size: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgba(236,235,234,.6);
    color: #3b3b3b;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    cursor: pointer;
}
#prev{
    margin-left: -350px;
}
#next{
    margin-left: 290px;
}
#prev:hover, #next:hover{
    background-color: rgba(236,235,234,1);
}
.indicator{
    position: absolute;
    left: 45%;
    top: 90%;
    display: flex;
    justify-content: center;
}
.dot{
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: white;
    border-radius: 10px;
    display: inline-block;
    /* transition: background-color 0.6s ease; */
}
.active, .dot:hover{
    background-color: #3b3b3b;
}
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}
@-webkit-keyframes fade{
    from{opacity: .6}
    to{opacity: 1}
}
@keyframes fade{
    from{opacity: .6}
    to{opacity: 1}
}
.img_album_mini{
    padding-top: 430px;
}
.mini_img{
    margin-right: 15px;
    /* border: 1px solid red; */
    float: left;
    opacity: .6;
    display: inline-block;
}
.mini_img:last-child{
    margin-right: 0;
    /* border: 1px solid red; */
}
.mini_img:hover{
    opacity: 1;
}
.active2{
    opacity: 1;
}







.hotel_content1{
    /* border: 1px solid orange; */
    float: left;
    margin-top: 60px;
    margin-left: 20px;
}
.hotel_content1::after{
    content: "";
    display: block;
    clear: both;
}

.location_wrap::after{
    content: "";
    display: block;
    clear: both;
}
.location_wrap p{
    float: left;
    margin-right: 200px;
}
.location_wrap i{
    float: left;
    color: white;
    font-size: 20px;
    padding-left : 60px;
}
.days_wrap::after{
    content: "";
    display: block;
    clear: both;
}
.days_wrap p{
    float: left;
    margin-right: 207px;
}
.days_wrap i{
    float: left;
    color: white;
    font-size: 20px;
    padding-left : 60px;
}
.hotel_content1 h3{
    font-size: 45px;
    color: white;
    margin-bottom: 20px;
}
.hotel_content1 h2{
    font-size: 70px;
    color: white;
    font-weight: 600;
}
.hotel_content1 h4{
    font-size: 30px;
    color: white;
    font-weight: 300;
}
.hotel_p_wrap{
    margin-top: 30px;
}

.hotel_content1 p{
    font-size: 16px;
    color: white;
    margin-bottom: 20px;
}
.hotel_content2{
    /* border: 1px solid purple; */
    float: left;
    margin-left: 20px;
}
.hotel_content2::after{
    content: "";
    display: block;
    clear: both;
}
.hotel_content2 h2{
    font-size: 20px;
    color: #3b3b3b;
    margin-top: 30px;
    margin-bottom: 20px;
}

#btn_go{
    outline: 0;
    border: 0;
    width: 350px;
    height: 60px;
    background-color: #ed4848;
    font-size: 20px;
    color: white;
    margin-top : 45px;
}
.gray_bg{
    width: 100%;
    height: 262px;
    background-color: #747373;
}
.footer_wrap{
    width: 1200px;
    margin: 0 auto;
}
.footer_logo{
    /* border: 1px solid blue; */
    float: left;
    margin-top: 60px;
    margin-right: 60px;
}
.border1{
    background-color: white;
    width: 1px;
    height: 150px;
    margin-top: 60px;
    float: left;
}
.footer_content1{
    /* border: 1px solid red; */
    float: left;
    margin-left: 80px;
    margin-top: 60px;
    margin-right: 80px;

}
.border2{
    background-color: white;
    width: 1px;
    height: 150px;
    margin-top: 60px;
    float: left;
}
.footer_content2{
    /* border: 1px solid red; */
    float: left;
    margin-left: 80px;
    margin-top: 60px;
    margin-right: 80px;
}
.border3{
    background-color: white;
    width: 1px;
    height: 150px;
    margin-top: 60px;
    float: left;
}
.footer_content3{
    /* border: 1px solid red; */
    float: left;
    margin-left: 80px;
    margin-top: 60px;
    margin-right: 80px;
}
.footer_wrap h2{
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 500;
}
.footer_wrap p{
    color: white;
    font-size: 14px;
    line-height: 2;
    font-weight: lighter;
    opacity: .8;
}
.red_bg{
    width: 100%;
    height: 560px;
    background-color: #ed4848;
}
.red_bg2{
    width: 100%;
    height: 50px;
    background-color: #ed4848;
}
.p_wrap {
    width: 1200px;
    margin: 0 auto;
}
.p_wrap p{
    color:  white;
    font-size: 14px;
    font-weight: 300;
    float: left;
    padding-top: 18px;
    margin-left: 20px;
}

.hotel_title_wrap h2{
	margin-top : -20px;
}